/* 

	overlay = 3
	popup = 4

 */

.overlay {
	position: fixed;
	z-index: 3;
	width: 100%;
	left: 0; top: 0;
	height: 100vh;
	background: rgba(#000,0.5);
	cursor: pointer;

	visibility: hidden;
	opacity: 0;
	transition: 0.3s linear;
	&.active {
		visibility: visible;
		opacity: 1;
	}
	&.form {
		background: #261e17 url(../img/send-form-bg.jpg) no-repeat center;
		background-size: cover;
		-webkit-transition: inherit;
		transition: inherit;
	}
}

.popup {
	position: fixed;
	&__close {
		position: absolute;
		top: 0;
		right: -60px;
		width: 27px;
		height: 27px;
		background: url('../img/close-popup.png') center no-repeat;
		background-size: cover;
		cursor: pointer;
		z-index: 4;
		display: block;
	}
}

.conds-popup {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-width: 660px;
	max-height: 555px;
	width: 90%;
	height: 90%;
	border-radius: 5px;
	background: #fff;
	z-index: 4;
	cursor: default;

	visibility: hidden;
	opacity: 0;
	transition: 0.3s linear;
	&.active {
		visibility: visible;
		opacity: 1;
	}

	&__content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		padding: 50px 40px;
	}

	&__title {
		font-size: 36px;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	&__text {
		color: rgba($text-dark,0.6);
		font-size: 20px;
		line-height: 27px;
		p {
			&:not(:last-child) {
				margin-bottom: 27px;
			}
		}
	}

}

.order-popup {

	visibility: hidden;
	opacity: 0;
	transition: 0.3s linear;
	.popup__close {
		top: 84px;
	}
	&.active {
		visibility: visible;
		opacity: 1;
	}
	width: 740px;
	position: fixed;
	z-index: 4;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

	&__label {
		width: 100%;
		font-size: 20px;
		line-height: 27px;
	}

	&__title {
		text-align: center;
		max-width: 510px;
		font-size: 20px;
		color: rgba(#fff, 0.6);
		margin: 0 auto 45px auto;
	}

	&__forms {
		margin: 0 auto;
		max-width: 740px;
		font-size: 0;
	}

	.input-group {
		position: relative;
		&.error {
			input {
				color: #DF1717;
				border-color: #DF1717;
			}
			.input-group__error {
				visibility: visible;
				opacity: 1;
			}
		}
		&.error--exists {
			input {
				color: #DF1717;
				border-color: #DF1717;
			}
			.input-group__error--exists {
				visibility: visible;
				opacity: 1;
			}
		}
		&__error, &__error--exists {
			position: absolute;
			bottom: 60px;
			right: -65px;
			text-align: center;
			color: #fff;
			background: #E25C5C;
			border-radius: 20px;
			font-size: 20px;
			padding: 6px 16px;
			box-shadow: 0px 5px 10px rgba(#000,0.1);
			opacity: 0;
			visibility: hidden;
			transition: 0.1s linear;
			z-index: 3;
		}
	}

	&__left {
		display: inline-block;
		vertical-align: top;
		border-radius: 5px;
		background: url('../img/body-bg.jpg') no-repeat center;
		width: 400px;
		margin-right: 30px;
		padding: 60px 50px;
		label {
			width: 100%;
			font-size: 20px;
			line-height: 27px;
		}
		.agreed {
			padding-bottom: 25px;
			&.error {
				label {
					color: #e25c5c;
				}
			}
			label {
				font-size: 16px;
				a {
					color: $text-dark;
					text-decoration: underline;
				}
				input {
					margin-right: 4px;
					position: relative;
					top: -2px;
				}
			}
		}
		input[type=email], input[type=text] {
			width: 100%;
			border: 2px solid #CDAF98;
			border-radius: 5px;
			margin-bottom: 25px;
			margin-top: 10px;
			padding: 12px;
			line-height: 1.35;
			font-family: $kozel;
			font-size: 20px;
		}
		button {
			font-family: $kozel;
			line-height: 1;
			padding-left: 75px;
			padding-right: 75px;
		}
	}

	&__right {
		display: inline-block;
		transition: 0.4s linear;
		vertical-align: top;
		border-radius: 5px;
		background: url('../img/body-bg.jpg') no-repeat center;
		width: 310px;
		padding: 60px 50px;
		&.disabled {
			opacity: 0.4;
			pointer-events: none;
		}
	}

	&__socials {
		font-size: 0;
		margin-top: 15px;
		a {
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			width: 56px;
			height: 56px;
			border-radius: 5px;
			background-color: #9B1B27;
			background-position: center;
			background-repeat: no-repeat;
			transition: 0.1s linear;
			&:hover {
				background-color: rgba(#D69444,0.6);
			}
			&:not(:last-child) {
				margin-right: 20px;
			}
			&.fb-share {
				background-image: url('../img/fb-icon.png');
			}
			&.vk-share {
				background-image: url('../img/vk-icon.png');
			}
			&.tw-share {
				background-image: url('../img/tw-icon.png');
			}
		}
	}

}

.map-popup {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-width: 660px;
	max-height: 555px;
	width: 90%;
	height: 90%;
	border-radius: 5px;
	background: #fff;
	z-index: 4;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s linear;
	&.active {
		visibility: visible;
		opacity: 1;
	}

	&__title {
		padding: 50px 50px 0 50px;
		text-transform: uppercase;
		font-size: 36px;
		color: #222222;
		height: 115px;
		overflow: hidden;
	}

	&__map {
		width: 100%;
		height: 440px;
		background: silver;
	}

}

.thank-popup {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-width: 570px;
	max-height: 240px;
	width: 90%;
	height: 90%;
	border-radius: 5px;
	background: #fff;
	z-index: 4;
	padding-top: 50px;
	padding: 50px 10px 20px 10px;
	cursor: default;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s linear;
	background-image: url('../img/body-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	&.active {
		visibility: visible;
		opacity: 1;
	}

	&__icon {
		width: 64px;
		height: 64px;
		background-image: url('../img/thank-icon.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto 20px auto;
	}

	&__title {
		text-align: center;
		font-size: 20px;
		color: #222222;
		margin-bottom: 10px;
	}

	&__desc {
		max-width: 320px;
		margin: 0 auto;
		color: rgba(#222,0.6);
		text-align: center;
		font-size: 20px;
		line-height: 27px;
	}

}